@using NoteWebApp.Models;
@{
    ViewBag.Title = "Detail";

    Note note = ViewBag.note;
}

<h2>Detail</h2>

<p>Note id: @note.NoteId</p>
<div>
    Title: <br />
    <input type="text" value="@note.Title" />
</div>
<div>
    Contents: <br />
    <textarea>@note.Contents</textarea>
</div>

@Html.ActionLink("List", "List")
